.titulo{
    text-align: center;
    color: white;
}
.fondo{
  background-image: url('/src/fotos/fondospace.jpg');
  background-repeat: repeat;
}
.body{
    margin-left: 10cm;
}
.tarjet{
    font-size: 17px;
    border-radius: 10px;
    text-align: center;
    width: 14.4cm;
    height: 14.4cm;
    background-color: black;
    color: white;
    position: relative;
    margin-left: 250px;
}
.alerta{
    border-radius: 10px;
    height: 3cm;
    width: 10cm;
}
#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
    background-color: black;
    color: white;
    position: relative;
    margin-left: 250px;
  }
  #customers tr:nth-child(even){background-color: black;}
  #customers th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    background-color: red;
    color: white;
  }
  #customers td, #customers th {
    border: 2px solid red;
  }
  #customers td {
    padding: 4px;
  }